body{
    display: flex;
    justify-content: center;
    
}
#main-div{
    height: 90vh;
    width: 50vw;
    background-colo:white;
    display: flex;
    flex-direction: column;
    border: solid;
    
}
.main-title{
    height: 100px;
    width: 100%;
    text-align:center;
    background-color:white;
}
#description{
    height: 100px;
    width: 100%;
    background-color:white;
    border-style: solid;
}
#description-input{
    height:70px;
    width: 100%;
    font-size: 20;
    border-top: 0;
    

}
.descinside{
    height: 30%;
    width: 100%;
    font-size: 30;
    background-color: white;

}

#category-duedate{
    height: 110px;
    width: 100%;
    background-color: white;
    display: flex;

}
#category-desc{
    height: 40%;
    width:100%;
    background-color: white;
    font-size: 30;
}
.category{
    height: 95%;
    width: 50%;
    border-style: solid;
    background-color: white;

}

#category-options{
    height: 60%;
    width: 100%;
    font-size: 20;
    border-top: 0;
    

}
.duedate{
    height: 95%;
    width: 50%;
    border-style: solid;
    background-color: white;
}
#duedate-heading{
    height: 40%;
    width: 100%;
    background-color: white;
    font-size: 30;
}
#duedate-input{
    height: 60%;
    width: 100%;
    font-size: 20;
    border:0;
}
#addtask-deletetask{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly
}

.addtask{
    height: 100%;
    width: 200px;
    background-color: white;
    border-style: solid;
}
#submit-button{
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 0;
    font-size: 30;

}
.deletetask{
    height: 100%;
    width: 200px;
    background-color: white;
    border-style: solid;

}
#delete-button{
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 0;
    font-size: 30;
}


