<html>
    <head>
        <title>
            Todoapp
        </title>
    <link rel="stylesheet" href="../assets/css/index.css">
    </head>
    <body>
        <div id="main-div">
        <div class="main-title">
                <h1>Todo App</h1>
        </div>

        <div id="description">
            <div class="descinside">DESCRIPTION</div>

            
            <input type="text" id="description-input" name="description" placeholder="What do you need to do"> 
            

        </div>
        <div id="category-duedate">
            <div class="category" >
                <div id="category-desc">
                    CATEGORY
                </div>
                <select name="category-options" id="category-options">
                    <option value="personal" selected>personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Other">Other</option>
                    </select>

            </div>
            <div class="duedate">
                <div id=duedate-heading>DUEDDATE</div>
                <input type="date" id =duedate-input name="duedate">

            </div>

        </div>

        <div id="addtask-deletetask">
            <div class="addtask">
                <button type="submit" id=submit-button>Add task</button>
            </div>
            <div class="deletetask">
                <button type="submit" id =delete-button>Delete</button>
            </div>
            

        </div>
            

        </div>

    </body>
</html>